
body{
    background: url(../img/Mascot/background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;

}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1D2D44;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header1 {
  background: #748CAB;
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header1 .logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #F0EBD8;
  text-align: center;
}

#header1 .logo h1 {
  color: #5fcf80;
}

.main-section{
    margin:0 auto;
    margin-top:30%;
    padding: 0;
}


.modal-content{
    background-color: #F0EBD8;
    opacity: .85;
    padding: 10px 40px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
    color: #1D2D44;
}

.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}

button{
    width: 60%;
    margin: 5px 0 25px;
    color: #1D2D44;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}


